/*Leaflet Map CSS*/
#map { 
  height: 500px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #ccc;
}

#map .leaflet-container {
  background-color: #e9b3b3;
}

#dropdown {
  width: 45%;
  margin-top: 10px;
  padding: 10px;
}

#info {
  width: 45%;
  margin-top: 10px;
  padding: 10px;
}

#crime-list {
  width: 45%;
  margin-top: 10px;
  padding: 10px;
}