/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
  --primary-color: #2C3E50;
  --secondary-color: #2980B9;
  --background-color: #F4F6F8;
  --highlight-color: #ECF0F1;
  --error-color: #E74C3C;
  --text-color: #333;
}

/* Reset & Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* General Styles */
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}


/* Main Layout */
#main-container {
  display: flex;
  height: calc(100vh - 85px);
  margin: 20px;
  gap: 20px;
}

#sidebar-container {
  width: 35%;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}
/* Map */
#map-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: white;
}

#map { 
  height: 100%;
  width: 100%;
  min-height: 400px; /* Ensure map for mob devices, so it appears */
}

/* Title Style */

 #title {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-color);
  margin: 0;
  font-weight: 700;
        }

.sub-heading {
  font-size: 1.5em;
  margin: 20px 0 10px;
  text-align: left;
  color: var(--primary-color);
}


/* postcode search styles */

#postcode-search {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
}

#postcode-search:focus {
  outline: none;
  border-color: var(--secondary-color);
}

#search-button {
  width: 90%;
  padding: 10px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: var(--background-color) 0.3s ease;
}

#search-button:hover {
  background-color: var(--secondary-color);
}

/* Most Common Crimes Styles */

#highest-crimes-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#highest-crimes-list li {
  padding: 10px;
  border: 0.5px solid var(--primary-color);
}

/* Info Section Styles */
#info {
  text-align: left;
  padding: 0;
  margin-top: 20px;
}


 /* Crime List */
 #crime-list {
  flex: 1;
  min-height: 0;
}

.crime-items {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  flex: 1;
  max-height: 200px;
}

.crime-items li {
  list-style: none;
  margin-bottom: 6px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s ease;
}

.crime-items li:hover {
  background-color: var(--highlight-color);
}


/* Highlight for filter match */
.highlight {
  background-color: #ffeaa7;
  transition: background-color 0.5s ease;
}

/*  Reload Button Styles */
#reload-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#reload-button:hover {
  background-color: var(--secondary-color);
}


#error-message {
  background-color: var(--error-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 50%;
  left: 25%;
  right: 25%;
  z-index: 999;
  display: none; /* Hidden by default */
}

/* Responsive Styles */
@media (max-width: 768px) {
  #main-container {
    flex-direction: column;
    height: auto;
  }

  #sidebar-container {
    width: 100%;
    padding: 10px;
    order: 2;
  }

  #map-container {
    height: 60vh;
    order: 1;
    width: 100%;
  }

   #map {
    height: 100%; /* ensure map fills the container and appears*/
    width: 100%;
  }

  #title {
    font-size: 1.8rem;
  }

  .sub-heading {
    font-size: 1.2em;
  }
  #postcode-search {
    width: 100%;
  }
  #search-button {
    width: 100%;
  }

  #error-message {
    font-size: 14px;
    padding: 10px 15px;
    top: 5px;
    max-width: 95%;
    word-wrap: break-word;
  }
}

